Package: ids-server
Version: 1.0
Section: utils
Priority: optional
Architecture: amd64
Maintainer: Tu Nombre <tu.email@example.com>
Depends: libsystemd-dev
Description: IDS Server - Servicio de detección de intrusiones
